$fontFam: 'Roboto';

$wd-green: #6aaa64;
$wd-yellow: #ceb02c;
$wd-gray: #939b9f;

$wd-blue-navy: #262b3c;
$wd-key-wrong: #818181;

$wd-key-unselected-night: #565f7e;
$wd-key-unselected-day: #d3d6da;

$wd-layer2-day: #f3f3f3;
$wd-layer2-night: rgba(218, 220, 224, 0.03);

@mixin letterBackground {
  &:global(.CORRECT) {
    background-color: $wd-green;
  }
  &:global(.WRONG) {
    background-color: $wd-gray;
  }
  &:global(.INTOTHEWORD) {
    background-color: $wd-yellow;
  }
}

@mixin theme {
  &:global(.NIGHT) {
    background-color: #262b3c;
    color: white;
  }
  &:global(.DAY) {
    background-color: white;
  }
}

@mixin themeModal {
  &:global(.NIGHT) {
    background-color: #262b3c;
    border: 1px solid $wd-gray;
    color: white;
  }
  &:global(.DAY) {
    background-color: #f3f3f3;
    border: 1px solid $wd-gray;
  }
}

@mixin themeHeader {
  :global(.NIGHT) & {
    background-color: $wd-layer2-night;
    color: #dadce0;
  }
  :global(.DAY) & {
    background-color: $wd-layer2-day;
  }
}

@mixin themeToggle {
  :global(.NIGHT) & {
    :global(.react-toggle-thumb) {
      background-image: url('../assets/images/switch-night.png');
      border: none;
      box-shadow: none;
      &:focus-visible,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
    :global(.react-toggle-track) {
      background-image: url('../assets/images/switch-body-night.png');
    }
  }
  :global(.DAY) & {
    :global(.react-toggle-thumb) {
      background-image: url('../assets/images/switch-day.png');
      border: none;
      background-position: 64% 42%;
      box-shadow: none;
      &:focus-visible,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
    :global(.react-toggle-track) {
      background-image: url('../assets/images/switch-body-day.png');
    }
  }
}
